

.Srcs{
    color: black;
    font-size: x-small;
    float: left;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-style: inherit;
    padding:50px;
    background-color: #D2C4C3;
    text-decoration: black underline;
}

.line.tickline{
    color: black
}
.socialLog{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.n{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
}
.background{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    border: 10px solid #988f8e;
    outline: solid 5px #988f8e;
    outline-offset: -20px;
}



.btn-success{
background-color: #94A0B0;
border-COLOR: #A2B9BF;
text-align: center;

}
.btn-success:hover{
background-color:#A2B9BF ;
 border-color: #94A0B0;
}

.btn-success:active{
    background-color:#A2B9BF ;
    border-color: #94A0B0;
}
.btn-success:focus{
    background-color:#A2B9BF ;
    border-color: #94A0B0;

}
.btn-success:visited{
    background-color:#A2B9BF ;
    border-color: #94A0B0;
}
.btn-success:focus-within{
    background-color:#A2B9BF ;
    border-color: #94A0B0;
}