.navB{
    max-height: max-content;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
    color: black;

}
.dropdown.nav-item{
    margin:5px;
    color: black;
}
.dropdown-item{
    color: black;
    font-size: medium;
}