.milestones-home{
  width: 30%;
  background-color: #B2B2A9;
  padding-top: 1%;
  padding-bottom: 1%;
margin-left: 17%;
  border: black solid 3px;
  margin-top: 1%;
  text-align: left;
  text-indent: 5px;
  font-weight: bold;
  float: left;
  text-align: center;
  border-radius: 30%;
  font-size: x-large;
}

.parent-resources-home{
  width: 30%;
  background-color: #B2B2A9;
  padding-top: 1%;
  padding-bottom: 1%;
margin-left: 17%;
  border: black solid 3px;
  margin-top: 1%;
  text-align: left;
  text-indent: 5px;
  font-weight: bold;
  float: left;
  text-align: center;
  border-radius: 30%;
  font-size: x-large;
}
.emergency-home{
    height: 75px;
    width: 30%;
    background-color: #B2B2A9;
    padding-top: 1%;
    padding-bottom: 1%;
  margin-left: 17%;
    border: black solid 3px;
    margin-top: 1%;
    text-align: left;
    text-indent: 5px;
    font-weight: bold;
    float: left;
    text-align: center;
    border-radius: 30%;
    font-size: x-large;
}

.activities-home{
  height: 75px;
  width: 30%;
  background-color: #B2B2A9;
  padding-top: 1%;
  padding-bottom: 1%;
margin-left: 17%;
  border: black solid 3px;
  margin-top: 1%;
  text-align: left;
  text-indent: 5px;
  font-weight: bold;
  float: left;
  text-align: center;
  border-radius: 30%;
  font-size: x-large;
}
a{
    margin: 10px;
    color:black;
    font-size: larger;
}
body{
  background-image: url("https://i.pinimg.com/564x/00/19/3f/00193f3a3f83bcd02c4852fd3cfb3aba.jpg");
}
.homepagetitle{
  width: 30%;
  float: left;
  border-bottom: double 10px #042d23;
  text-decoration: none;
}
.tagline{
  width: 100%;
  background-color: white;
  text-align: left;
  padding-top: 9%;
  padding-bottom: 1.4%;
  border-bottom: #042d23 double 10px;
}
.homepagenav{
  background-color: white;
  padding-bottom: 1%;
}
.footer-copyright-home{
  margin-top: 24%;
  background-color:  #48665f;
  font-size: xx-small;
  text-align: center;
  background-color:#042920;
  border-top: double 5px white;
  color: white;
  position:absolute;
  width: 100%;
  position:absolute;
  padding-bottom: 1rem;
  padding-top: 1rem;
}