
.pagetitle{
    width: 50%;
    float: right;
    margin-top: 2%;
    background-color: white;
    padding-top: 3%;
    padding-bottom: 1%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-left: double 5px #042920;
    border-bottom: double 5px #042920;
    border-top: double 5px #042920;
    font-weight: bolder;
    text-decoration: #042920 underline;
    font-size: xx-large;
}

.h-c{
    background-color: #48665f;
    width: 100%;
    margin-top: 15%;
    color:white; font-weight: bolder;
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-weight: bolder;
    border-top:  #042920 5px double;
    border-bottom:  #042920 5px double;

}
.h-c1{
    font-size: xxx-large;
}
.c-1{
    background-color: white;
    margin-left: 8%;
  height:25rem;
  padding-top: 2rem;
  margin-top: 0px;
    width:28%;
    float: left;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 0px;
    border-bottom: #48665f 2px double;
    border-left: #48665f 2px double;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    border-right:  #48665f 1px double;
    text-align: left;
}
.c-2{
    background-color: white;
height: 25rem;
    width:28%;
    border-bottom: #48665f 2px double;
    padding-left: 3rem;
    padding-right: 3rem;
    float: left;
    padding-top: 2rem;
    text-align: left;
}
.c-3{
    background-color: white;
height: 25rem;
    width:28%;
    padding-left: 3rem;
    padding-right: 3rem;
    float: left;
    padding-top: 2rem;
    border-right:  #48665f 2px double;
    border-bottom:  #48665f 2px double;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    border-left:  #48665f 1px double;
    text-align: left;
}


.h-m{
    background-color: #48665f;
    width: 100%;
    margin-top: 45%;
    color:white; font-weight: bolder;
    padding-top: 6rem;
    padding-bottom: 2rem;
   text-align: left;
    font-weight: bolder;
    border-top:  #042920 5px double;
    border-bottom:  #042920 5px double;
    margin-bottom: 0px;
    padding-left: 20%;
}
.m-1{
    background-color: white;
    margin-left: 8%;
  height:25rem;
  padding-top: 2rem;
  margin-top: 0px;
    width:28%;
    float: left;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 0px;
    border-bottom: #48665f 2px double;
    border-left: #48665f 2px double;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    border-right:  #48665f 1px double;
    text-align: left;
}
.m-2{
    background-color: white;
height: 25rem;
    width:28%;
    border-bottom: #48665f 2px double;
    padding-left: 3rem;
    padding-right: 3rem;
    float: left;
    padding-top: 2rem;
    text-align: left;
}
.m-3{
    background-color: white;
height: 25rem;
    width:28%;
    padding-left: 3rem;
    padding-right: 3rem;
    float: left;
    padding-top: 2rem;
    border-right:  #48665f 2px double;
    border-bottom:  #48665f 2px double;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    border-left:  #48665f 1px double;
    text-align: left;
}
.h-v{
    background-color: #48665f;
    width: 100%;
    margin-top: 45%;
    color:white; font-weight: bolder;
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-weight: bolder;
    border-top:  #042920 5px double;
    border-bottom:  #042920 5px double;
   text-align: right;
   padding-right: 20%;
}
.v-1{ 
   
    background-color: white;
    margin-left: 8%;
  height:25rem;
  padding-top: 2rem;
  margin-top: 0px;
    width:28%;
    float: left;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 0px;
    border-bottom: #48665f 2px double;
    border-left: #48665f 2px double;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    border-right:  #48665f 1px double;
    text-align: left;
}
.v-2{
    background-color: white;
height: 25rem;
    width:28%;
    border-bottom: #48665f 2px double;
    padding-left: 3rem;
    padding-right: 3rem;
    float: left;
    padding-top: 2rem;
    text-align: left;
}
.v-3{
    background-color: white;
height: 25rem;
    width:28%;
    padding-left: 3rem;
    padding-right: 3rem;
    float: left;
    padding-top: 2rem;
    border-right:  #48665f 2px double;
    border-bottom:  #48665f 2px double;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    border-left:  #48665f 1px double;
    text-align: left;
}
.h-s{
    background-color: #48665f;
    width: 100%;
    margin-top: 45%;
    color:white; font-weight: bolder;
    padding-top: 6rem;
    padding-bottom: 2rem;
    text-indent: 20%;
    font-weight: bolder;
    border-top:  #042920 5px double;
    border-bottom:  #042920 5px double;
    text-align: left;
}
.s-1{
    background-color: white;
    margin-left: 8%;
  height:25rem;
  padding-top: 2rem;
  margin-top: 0px;
    width:28%;
    float: left;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 0px;
    border-bottom: #48665f 2px double;
    border-left: #48665f 2px double;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    border-right:  #48665f 1px double;
    text-align: left;
}
.s-2{
    background-color: white;
height: 25rem;
    width:28%;
    border-bottom: #48665f 2px double;
    padding-left: 3rem;
    padding-right: 3rem;
    float: left;
    padding-top: 2rem;
    text-align: left;
}
.s-3{
    background-color: white;
height: 25rem;
    width:28%;
    padding-left: 3rem;
    padding-right: 3rem;
    float: left;
    padding-top: 2rem;
    border-right:  #48665f 2px double;
    border-bottom:  #48665f 2px double;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    border-left:  #48665f 1px double;
    text-align: left;
    margin-bottom: 15%;
}

.footer-copyright-act{
    font-size: xx-small;
    text-align: center;
    background-color:#042920;
    border-top: double 5px ;
    color: white;
    position:absolute;
    width: 100%;
    position:absolute;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 40%;
}