

.activities-home-footer{
position: absolute;
left:0;
bottom:0;
right:0;
color: #042d23;
height:4%
}
.footer-copywright{
    background-color:  #48665f;
    color: #042d23;
}
.nitem-1{
    float: left;
    width: 26%;
    margin-left: 23%;
    background-color: #FEFDFC;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
   margin-top: 3rem;
   border: #878179 4px double;
   border-radius: 2%;
   font-weight: bolder;
}
a:hover{
    color: gray;
    border-radius: 50%;
}
.nitem-2{
    float: left;
    width: 26%;
    margin-left: 1%;
    background-color: #48665f;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
   margin-top: 3rem;
   border: #042920 4px double;
   border-radius: 2%;
   font-weight: bolder;
   color:white;
}
.nitem-3{
    float: left;
    width: 26%;
    margin-left: 23%;
    background-color: #48665f;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
   margin-top: 1rem;
   border: #042920 4px double;
   border-radius: 2%;
   font-weight: bolder;
   margin-bottom: 10%;
}
.nitem-4{
    float: left;
    width: 26%;
    margin-left: 1%;
    background-color: #FEFDFC;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
   margin-top: 1rem;
   border: #878179 4px double;
   border-radius: 2%;
   font-weight: bolder;
}
#ml{
    color:white;
    font-weight: bolder;
}
#vl{
    color:white;
    font-weight: bolder;
}
#sl{
font-weight: bolder;
}

#cl{
    font-weight: bolder;
}
.footer-copyright-mil{
    font-size: xx-small;
    text-align: center;
    background-color:#042920 ;
    border-top: double 5px white;
    color: white;
    position:absolute;
    width: 100%;
    position:absolute;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 55%;
}
.footer-copyright-milc{
    font-size: xx-small;
    text-align: center;
    background-color:#042920 ;
    border-top: double 5px white;
    color: white;
    position:absolute;
    width: 100%;
    position:absolute;
    padding-bottom: 1rem;
    padding-top: 1rem;
}