.nav-item{
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: 2px;
 
}
body{
    background-color:  #988f8e;
    text-align: center;
    height: 100%;
    
}
.dropdown-item{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bolder;
}
.dropdown-menu{
    background-color:#988f8e ;
    border: black double 1px;
    width: 110%;
}

.navbar-brand{
    margin-right: 50px;
    margin-left: 25px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.title{
    background-color:#988f8e ;
    border-bottom: black solid 1px;
}


h1{
    background-color:#988f8e ;
}

.Homenav{
height: 100%;
color: black;
width: 75%
}
.navB{
    padding: 8px;
    padding-top: 10px;
}