
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-style: inherit;
    padding:50px;
    background-color: #fefdfc;
    text-decoration: black underline;
}

.line.tickline{
    color: black
}
.cogLog{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.n{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    width: 75%;
    margin: auto;
}
.background{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    border: 10px solid #988f8e;
    background-color: #fefdfc;
    outline-offset: -20px;
    width: 90%;
    margin: auto;
}



.btn-success{
background-color: #94A0B0;
border-COLOR: #A2B9BF;
text-align: center;

}
.btn-success:hover{
background-color:#A2B9BF ;
 border-color: #94A0B0;
}

.btn-success:active{
    background-color:#A2B9BF ;
    border-color: #94A0B0;
}
.btn-success:focus{
    background-color:#A2B9BF ;
    border-color: #94A0B0;

}
.btn-success:visited{
    background-color:#A2B9BF ;
    border-color: #94A0B0;
}
.btn-success:focus-within{
    background-color:#A2B9BF ;
    border-color: #94A0B0;
}
.zzz{
    margin-bottom: 1%;
}