
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-style: inherit;
    padding:50px;
    background-color: #fefdfc;
    text-decoration: #042920 underline;
    color: #042920;
    font-weight: bolder;
}

.line.tickline{
    color: black
}
.verbalLog{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.n{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
}
.background{
    background-color: #fefdfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    border: 10px solid #48665f;
    outline: solid 5px #48665f;
    outline-offset: -20px;
    margin-bottom: 10%;
}



.btn-success{
background-color: #48665f;
border-COLOR: #042920;;
text-align: center;

}
.btn-success:hover{
background-color:#A2B9BF ;
 border-color: #042920;
}

.btn-success:active{
    background-color:#042920;;
    border-color: #94A0B0;
}
.btn-success:focus{
    background-color:#042920; ;
    border-color: #94A0B0;

}
.btn-success:visited{
    background-color:#042920; ;
    border-color: #94A0B0;
}
.btn-success:focus-within{
    background-color:#042920; ;
    border-color: #94A0B0;
}