thead{
    font-weight: bolder;
    border-bottom: black solid 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    border-top: black solid 7px;
}
th{
    border: black solid 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
td{
    border-left: black solid 2px;
    border-right: black solid 2px;
    border-bottom: black solid 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.table{
    width: 85%;
    margin: auto;
}
.months{
    font-weight: bolder
}
.footer-copyright-pr{
    font-size: xx-small;
    text-align: center;
    background-color: #042920;
    border-top: double 5px white ;
    color: white;
    position:absolute;
    width: 100%;
    position:absolute;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 10%;
}